<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      .btn-link{
        border:none;
        outline:none;
        background:none;
        cursor:pointer;
        color:#0000EE;
        padding:0;
        text-decoration:underline;
        font-family:inherit;
        font-size:inherit;
      }
    </style>
  </head>
  <body>
    <h1><a href="./"><img src="favicon-firebase.png"><%= title %></a></h1>
    <hr/>
    <p>Welcome to <%= title %></p>
    <% if (!email) { %>
    <h3><a href="./login">Login</a></h3>
    <h3><a href="./signup">Register</a></h3>
    <% } else { %>
    <h3>Hello, <%=email%>!</h3>
    <h3><a href="./info">User Info</a></h3>
    <h3><a href="./gallery">Gallery</a></h3>
    <form action="./request/delete" method="post">
      <input type="hidden" name="email" value="<%=email%>">
      <button type="submit" name="your_name" value="your_value" class="btn-link">Delete</button>
    </form>
    <h3><a href="./logout">Logout</a></h3>
    <% } %>

    <img id="R2D2">
    <img id="Apink">
    <img id="TWICE">
    <img id="favicon-firebase">

    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyC54g3ZFHO0aq7jFUiaq6e0O0tzR4g3d5U",
            authDomain: "seed-3a079.firebaseapp.com",
            databaseURL: "https://seed-3a079.firebaseio.com",
            storageBucket: "seed-3a079.appspot.com",
            messagingSenderId: "204598217154"
        };
        firebase.initializeApp(config);
        /*
        var database = firebase.database();
        var storage = firebase.storage();

        var setImage = function(key, type) {
            storage.ref('image').child(key+'.'+type).getDownloadURL()
                .then(function(url) {
                    document.getElementById(key).setAttribute('src', url);
                })
                .catch(function(error) {
                    console.log(error);
                });
        };

        database.ref('storage/image').once('value')
            .then(function(snapshot) {
                var data = snapshot.val();
                console.log('data:', data);
                for (var key in data) {
                    setImage(key, data[key]);
                }
            });
        */
    </script>

  </body>
</html>
