<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% if (!(title === 'Error')) { %>
        <h1><img src="favicon-firebase.png"><a href="./"><%= title %></a></h1>
        <hr/>
        <p>Welcome to <%= title %></p>
        <form action="/login" method="post">
            <input type="email" name="email" placeholder="example@seed.com">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Login">
        </form>
        <% } else { %>
        <h1><img src="favicon-firebase.png"><%= title %></h1>
        <hr/>
        <p><%=message%></p>
        <h3><a href="./">Back to Main</a></h3>
        <% } %>
    </body>
</html>
